{% extends 'base.html' %}

{% block page_content %}

<div class="text-center">
    <h3>Email Local City Officials</h3>
    <h5>
        With this tool, you can quickly and efficiently contact city officials around the country. This contact
        information was scraped from The United States Conference of Mayors (https://www.usmayors.org/mayors/), and
        currently the database contains a little under 1500 entries (with some duplicates, sorry!). While I have no
        reason to doubt the authenticity of the information, if there is a mayor or elected official that you
        specifically need to contact, please check the addresses provided to make sure that they are going to the
        correct person or office.
    </h5>
</div>

<div class="text-center">
    <h3>#1: Write your message</h3>
    <h5>
        While these messages will not be filtered, censored, or logged in any way, please be respectful.
    </h5>
</div>


<form>
    <div class="input-group form-control">
        <textarea class="form-control" rows="5"></textarea>
    </div>
    <div>
        <input type="submit" value="#2: Select Recipients" formaction="{{ url_for('recipients') }}">
    </div>
</form>


{% endblock %}